# Local
.DS_Store
.vs
.vscode

/Build/
*_extdep/
*.pyc
__pycache__/
tags/
.vscode/
*.bak
BuildConfig.conf

/Conf/
/Seluna/
Platforms/SelunaPkg/Include/Generated/ConfigServiceGenerated.h
Platforms/SelunaPkg/Include/Generated/ConfigDataGenerated.h
Platforms/SelunaPkg/Include/Generated/ConfigClientGenerated.h

ImageResources/Selene/bootpayload.bin
ImageResources/Selene/dualbootbootpayload.bin
ImageResources/Selene/SW5100_EFI_NOSB.fd
ImageResources/Selene/SW5100_EFI.fd
ImageResources/Selene/uefi_dualboot.img
ImageResources/Selene/uefi_nosb.img
ImageResources/Selene/uefi_nosb.payload.bin
ImageResources/Selene/uefi.img
ImageResources/Selene/uefi.payload.bin

ImageResources/Luna/bootpayload.bin
ImageResources/Luna/dualbootbootpayload.bin
ImageResources/Luna/SW5100_EFI_NOSB.fd
ImageResources/Luna/SW5100_EFI.fd
ImageResources/Luna/uefi_dualboot.img
ImageResources/Luna/uefi_nosb.img
ImageResources/Luna/uefi_nosb.payload.bin
ImageResources/Luna/uefi.img
ImageResources/Luna/uefi.payload.bin